<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Bootstrap: Latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--jQuery library-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Bootstrap: Popper JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!--Bootstrap: Latest compiled JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--Montserrat-Schrift importieren-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!--Eigener JS-File-->
    <script src="public/js1.js"></script>
    <!--Eigener CSS-File-->
    <link rel="stylesheet" type="text/css" href="public/css1.css">

    <title>hafen albstadt-sigmaringen</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-sm fixed-top bg-1 navbar-dark">
            <a class="navbar-brand" href="index">hafen albsig</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
               <span class="navbar-toggler-icon"></span>
            </button>
           
           <div class="collapse navbar-collapse" id="collapsibleNavbar">
               <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index">home</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link active-page" href="hafen">hafen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="betreiber">betreiber</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="buchen">buchen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin">admin</a>
                    </li>
               </ul>
           </div>
        </nav>
        <main>
            <section class="container-fluid bg-2">
                <div class="row">
                    <section class="col-md">
                        <p class="margin"></p>
                        <h3 class="margin">der hafen</h3>
                        <p class="margin">Wassersport im Herzen von Albstadt!</p>
                        <img src="public/hafen.jpg" class="img-fluid rounded-circle" alt="hafen">
                    </section>
                    <section class="col-md">
                        <p class="margin"></p>
                        <h3 class="margin align-left">... bietet dir alles was dein Herz begehrt!</h3>
                        <p class="margin inhalt">Unsere Services:</p>
                        <ul>
                            <li>Liegeplätze</li>
                            <li>Kran-Service</li>
                            <li>Tankstelle</li>
                            <li>Landstrom</li>
                            <li>Supermarkt</li>
                            <li>Restaurant</li>
                            <li>Reparaturservice</li>
                            <li>Wäscherei</li>
                            <li>...</li>
                        </ul>
                    </section>
                </div>
            </section>
        </main>
        <footer class="container-fluid bg-3">
            <p>&copy; hafen-albsig2022</p>
        </footer>
  </body>
</html>
